{% extends 'main.html'%}
{% block content %}
{% load static %}
<div class="container">
  
  <div class="row">
    <h4 class="auth__tagline"> hello {{user.username}} !!</h4>
      <span> {{task_count}} tasks are left to complete !!!</span>
       <hr>
    
    <div class="col topic-components">
       
        {% include 'app1/topic.html' %}

      </div>
      <div class="col task-components">
        <div>
        
         
          <a class="btn" href="{% url 'create-task' %}" style="margin-left:55rem;">
         
            Create task
          </a>
        </div>
        <hr>
      
        {% include 'app1/task.html' %}
      </div>

     
    
  </div>
</div>
{% endblock content %}  