{% load static %}
<header class="header header--loggedIn">
   <div class="container row">
      <div class="col">
       <a href="{% url 'profile' user.id %}" class="header_logo">
         <img src="{% static 'images/logo.png' %}" />
         <h1>To do list</h1>
       </a>
      </div>
    <div class="col">
       <nav class="header__menu">
       <!-- Logged In -->
         {% if request.user.is_authenticated %}
       
         
          
         <button class="dropdown-button" >
          <a href="{% url 'profile' user.id  %}">
                 
            <p><span>@{{request.user}}</span></p>
              </a>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"viewBox="0 0 32 32">
               <title>chevron-down</title>
                <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
               </svg>
         </button>
          
         <div class=" dropdown-menu">
        
          <a  href="{% url 'logout' %}" class="dropdown-link">
            Logout</a>
        </div>
          {% else %}
         <!-- Not Logged In -->
         <a href="{% url 'login' %}">
       
          <p class="log">Login</p>
         </a>
        {% endif %}
       </nav>
    </div>
   </div>
 </header>